HTML, BODY {
	background: salmon;
	width: 100%;
	height: 100%;
}

.chess {
	display: grid;
	grid-template-rows: repeat(8, 80px);
	justify-content: center;
}

.row {
	display: grid;
	grid-template-columns: repeat(8, 80px);
}
.square {
	background-color: white;
}
.row:nth-child(odd) .square:nth-child(odd){
	background: black;
}
.row:nth-child(even) .square:nth-child(even){
	background: black;
}

.image {
	width: 100%;
	height: 100%;
}
